
@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="alert alert-danger">
    <p>Họ và tên: Sophia Le</p>
    <p>Lớp: CNTT1 - K64</p>
    <p>Học phần: Lập trình web</p>
    <p>Email:
        <a href="mailto:thaao.lt@gmail.com" title="thaao.lt@gmail.com">thaao.lt@gmail.com</a>
    </p>
    <p>Điện thoại: 
        <a href="tel: 0914286692" title="0914286692">0914286692</a>
    </p>

</div>

