
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	@* <title>Online Shopping</title> *@
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- //for-mobile-apps -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<!-- //js -->

	<title>@ViewData["Title"] - test20212v1</title>
	@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/test20212v1.styles.css" asp-append-version="true" />
</head>

<body>
	<!-- header -->
	<partial name="LeThiThao_Header" />
	<!-- //header -->
	<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html" class="act">Home</a></li>
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Groceries<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>All Groceries</h6>
											<li><a href="groceries.html">Dals & Pulses</a></li>
											<li><a href="groceries.html">Almonds</a></li>
											<li><a href="groceries.html">Cashews</a></li>
											<li><a href="groceries.html">Dry Fruit</a></li>
											<li><a href="groceries.html"> Mukhwas </a></li>
											<li><a href="groceries.html">Rice & Rice Products</a></li>
										</ul>
									</div>

								</div>
							</ul>
						</li>

						<li><a href="gourmet.html">Gourmet</a></li>
						<li><a href="offers.html">Offers</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<!-- //navigation -->
	<!-- main content -->
	<div class="newproducts-w3agile">
		<div class="container">
			<h3>Le Thi Thao</h3>
            @RenderBody()
		</div>
	</div>
	<!-- //main content -->
	<!-- footer -->
	<partial name="LeThiThao_Footer" />
	<!-- //footer -->

	@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

	<script>
		$(document).ready(function(){
			console.log('runiing...');
			$('#bs-megadropdown-tabs ul').html('');
			let item = ``;
			$.ajax({
			url: 'home/LttLoadNav',
			dataType: 'json',
			success: function(res){
				console.log(res);
				res.forEach(row => {
					item += `<li><a href="#" data-id="${row.id}">${row.navNameVn}</a></li>`;
				});
				item += '</ul>';
				$('#bs-megadropdown-tabs ul').html(item);
			}
			});
		});
	</script>

	<script>
		$(document).ready(function(){
			sanphams = [];
			$('.agile_top_brands_grids').html('');
			let itemBox = ``;
			$.ajax({
				url: 'home/LttGetTop4',
				dataType: 'json',
				success: function(res){
					console.log(res);
                    sanphams = res;
					sanphams.forEach(item =>{
						itemBox += 
							`<div class="col-md-3 top_brand_left-1">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive">
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div class="snipcart-item block">
													<div class="snipcart-thumb">
														<a href="products.html"><img title=" " alt=" " src="images/${item.image}"></a>
														<p>${item.name}</p>
														<div class="stars">
															<i class="fa fa-star blue-star" aria-hidden="true"></i>
															<i class="fa fa-star blue-star" aria-hidden="true"></i>
															<i class="fa fa-star blue-star" aria-hidden="true"></i>
															<i class="fa fa-star blue-star" aria-hidden="true"></i>
															<i class="fa fa-star gray-star" aria-hidden="true"></i>
														</div>
														<h4>${item.unitPrice} <span>$45.00</span></h4>
													</div>
													<div class="snipcart-details top_brand_home_details">
														<form action="#" method="post">
															<fieldset>
																<input type="hidden" name="cmd" value="_cart">
																<input type="hidden" name="add" value="1">
																<input type="hidden" name="business" value=" ">
																<input type="hidden" name="item_name" value="basmati rise">
																<input type="hidden" name="amount" value="30.99">
																<input type="hidden" name="discount_amount" value="1.00">
																<input type="hidden" name="currency_code" value="USD">
																<input type="hidden" name="return" value=" ">
																<input type="hidden" name="cancel_return" value=" ">
																<input type="submit" name="submit" value="Add to cart" class="button">
															</fieldset>
														</form>
													</div>
												</div>
											</figure>
										</div>
									</div>
								</div>
							</div>`
					})
					$('.agile_top_brands_grids').html(itemBox);
				}
			});	
		});
	</script>

	<script>
		$(document).ready(function () {

			// Search khi bấm nút
			$('#btnSearch').click(function () {
				SearchByName();
			});

			// Search realtime khi gõ
			$('#txtSearch').keyup(function () {
				SearchByName();
			});

		});

		function SearchByName() {
			let keyword = $('#txtSearch').val();

			$.ajax({
				url: '/Home/LttSearch',
				data: { keyword: keyword },
				dataType: 'json',
				success: function (res) {
					let html = '';

					// if (res.length === 0) {
					// 	$('.agile_top_brands_grids').html('<p>Không tìm thấy sản phẩm</p>');	
					// 	return;
					// }

					res.forEach(item => {
						html += `<div class="col-md-3 top_brand_left-1">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive">
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div class="snipcart-item block">
													<div class="snipcart-thumb">
														<a href="products.html"><img title=" " alt=" " src="images/${item.image}"></a>
														<p>${item.name}</p>
														<div class="stars">
															<i class="fa fa-star blue-star" aria-hidden="true"></i>
															<i class="fa fa-star blue-star" aria-hidden="true"></i>
															<i class="fa fa-star blue-star" aria-hidden="true"></i>
															<i class="fa fa-star blue-star" aria-hidden="true"></i>
															<i class="fa fa-star gray-star" aria-hidden="true"></i>
														</div>
														<h4>${item.unitPrice} <span>$45.00</span></h4>
													</div>
													<div class="snipcart-details top_brand_home_details">
														<form action="#" method="post">
															<fieldset>
																<input type="hidden" name="cmd" value="_cart">
																<input type="hidden" name="add" value="1">
																<input type="hidden" name="business" value=" ">
																<input type="hidden" name="item_name" value="basmati rise">
																<input type="hidden" name="amount" value="30.99">
																<input type="hidden" name="discount_amount" value="1.00">
																<input type="hidden" name="currency_code" value="USD">
																<input type="hidden" name="return" value=" ">
																<input type="hidden" name="cancel_return" value=" ">
																<input type="submit" name="submit" value="Add to cart" class="button">
															</fieldset>
														</form>
													</div>
												</div>
											</figure>
										</div>
									</div>
								</div>
							</div>`
					});

					$('.agile_top_brands_grids').html(html);
				}
			});
			
		}
	</script>

</body>
</html>