<!-- Begin Header -->
<div class="header">
	<div class="header_top">
		<div class="logo">
			<a href="/"><img src="images/logo.png" alt="" /></a>
		</div>
		<div class="cart">
			<p>
				Welcome to our Online Store! <span>Cart:</span><div id="dd" class="wrapper-dropdown-2">
					0 item(s) - $0.00
					<ul class="dropdown">
						<li>you have no items in your Shopping cart</li>
					</ul>
				</div>
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="header_bottom">
		<div class="menu">
			<ul>
				<li class="active"><a href="/">Lê Thị Thảo</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="delivery.html">Delivery</a></li>
				<li><a href="news.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<div class="search_box">
			<form>
				<input id="txtSearch" type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
				<input id="btnSearch" type="button" value="">
			</form>
		</div>

		@* <div class="search_box">
			<input type="text" id="txtSearch" placeholder="Search...">
			<button id="btnSearch" type="button"></button>
		</div> *@
		<div class="clear"></div>
	</div>
</div>