@model day09LabCodeFirst.Models.LttLoaiSanPham

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LttLoaiSanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="lttEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="lttId" />
            <div class="form-group">
                <label asp-for="lttMaLoai" class="control-label"></label>
                <input asp-for="lttMaLoai" class="form-control" />
                <span asp-validation-for="lttMaLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lttTenLoai" class="control-label"></label>
                <input asp-for="lttTenLoai" class="form-control" />
                <span asp-validation-for="lttTenLoai" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="lttTrangThai" /> @Html.DisplayNameFor(model => model.lttTrangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
