@model IEnumerable<day05_model.Models.User>
@{
    ViewData["Title"] = "Index1";

}

<h1>User</h1>
<p>user name: @ViewBag.user.name</p>
<p>address: @ViewBag.user.address</p>
<p>email: @ViewBag.user.email</p>

