@model LeThiThao_231230910.Models.Chuyen

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chuyen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaTuyen" class="control-label"></label>
                <select asp-for="MaTuyen" class ="form-control" asp-items="ViewBag.MaTuyen"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoXe" class="control-label"></label>
                <select asp-for="SoXe" class ="form-control" asp-items="ViewBag.SoXe"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaLaiXe" class="control-label"></label>
                <select asp-for="MaLaiXe" class ="form-control" asp-items="ViewBag.MaLaiXe"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayGio" class="control-label"></label>
                <input asp-for="NgayGio" class="form-control" />
                <span asp-validation-for="NgayGio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
