<header id="header" class="app-header">

    <div class="d-flex w-100 p-4 align-items-center">
        <!--Search Start-->
        <div class="d-flex">
            <form action="#" method="post">
                <lable for="searchbox" class="form-label p-2">Search Here: </lable>
                <input id="searchbox" class="form-input" type="search" placeholder="Key word..." name="search">
                <input type="button" value="" class="text-primary btnex">
            </form>
        </div>
        <!--Search End-->
        <!--Filter Start-->
        <div class="d-flex">
            <label for="dstart" class="form-label pt-2 px-2">Group: </label>
            <select id="dstart" class="form-select bg-white">
                <option>Nhóm 1</option>
                <option>Nhóm 2</option>
                <option>Nhóm 3</option>
            </select>
        </div>
        <!--Filter End-->
    </div>
</header>