@model IEnumerable<LeThiThao_231230910.Models.HangHoa>

@foreach(var item in Model)
{
	<div class="grid_1_of_4 images_1_of_4">
		<a href="preview.html"><img src="~/images/@item.Anh" alt="@item.TenHang" /></a>
		<h2>@item.TenHang</h2>
		<div class="price-details">
			<div class="price-number">
				<p><span class="rupees">@item.Gia</span></p>
			</div>
			<div class="add-cart">
				<h4><a href="preview.html">Add to Cart</a></h4>
			</div>
			<div class="clear"></div>
		</div>
	</div>
}
